header {
    background-color:#D4AA6C;
    padding:24px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

body {
    margin:0;
    height:100vh;
    display:flex;
    flex-direction:column;
}
nav {
    height: 15vh;
    min-height: 20px;
    display:flex;
    background-color: #dfceb6;
    align-items: center;
    justify-content:space-around;
}

nav button {
    margin:20px;
    height: 40%;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2b097;
    font-size:50px;
    border : none;

}

#photo_button {
   
    height:70%;
    aspect-ratio: 1/1;
    background-color:#7c623b;
    border-width: 10px;
    border-color:#ac916a;
    border-radius: 50%;
    font-size:50px;
}
main {
    flex : 1
}
#map{
    display:flex;
    width : 100%;
    height : 100%;
    z-index: 1;
}

#imageContainer{
    display:None
}
#uploadScreen{
    position : absolute;
    display: none; /*set to flex by js*/
    flex-direction: column;
    flex: 1;
    width : 40%;
    height : 40%;
    top : 30%;
    left : 30%;
    align-items: center;
    justify-content: center;
    gap : 24px;
    z-index: 2;
    background-color: white;
    
}
#uploadTag {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
#output{
    height:60%;
    display:none;
}

#cancelButton{
    position : absolute;
    left : 10px;
    top : 10px;

}
#saveButton{
    display : none;
}